pipeline/DynamicCopyTablePipeline.json
{
	"name": "DynamicCopyTablePipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "{\n\t\"count\": 10,\n\t\"value\": [\n\t\t{\n\t\t\t\"TABLE_NAME\": \"ProductCategory\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"ProductDescription\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"ProductModel\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"ProductModelProductDescription\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"SalesOrderDetail\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"SalesOrderHeader\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"Address\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"Customer\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"CustomerAddress\"\n\t\t},\n\t\t{\n\t\t\t\"TABLE_NAME\": \"Product\"\n\t\t}\n\t],\n\t\"effectiveIntegrationRuntime\": \"AutoResolveIntegrationRuntime (Central India)\",\n\t\"billingReference\": {\n\t\t\"activityType\": \"PipelineActivity\",\n\t\t\"billableDuration\": [\n\t\t\t{\n\t\t\t\t\"meterType\": \"AzureIR\",\n\t\t\t\t\"duration\": 0.016666666666666666,\n\t\t\t\t\"unit\": \"Hours\"\n\t\t\t}\n\t\t],\n\t\t\"totalBillableDuration\": [\n\t\t\t{\n\t\t\t\t\"meterType\": \"AzureIR\",\n\t\t\t\t\"duration\": 0.016666666666666666,\n\t\t\t\t\"unit\": \"Hours\"\n\t\t\t}\n\t\t]\n\t},\n\t\"durationInQueue\": {\n\t\t\"integrationRuntimeQueue\": 1\n\t}\n}",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().TABLE_NAME)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSql_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedTextOutputSink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "UseCase2"
		},
		"annotations": []
	}
}